body {
    background-color: #f8f9fa;
}

header {
    border-bottom: 4px solid #0056b3; /* Azul oscuro para el borde */
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

#pedido {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #ffffff;
    padding: 15px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #6c757d;
}

/* Responsive styles */
@media (max-width: 768px) {
    .card {
        margin: 10px 0; /* Espacio entre las tarjetas */
    }
}
